<div class="controller component" data-component="t8y/media/video/showat" data-controller="t8y/media/video/ShowAt" data-timecode-start="{{timecode-start}}" data-timecode-stop="{{timecode-stop}}" data-video-ended="{{video-ended}}" data-target="#{{id}}">
    {{{content}}}
</div>