<a href="#" data-component="slider/button" data-controller="t8y/slider/controls/Button" class="{{class}} component controller" data-target="#{{target}}"
    {{#if view}}
        data-show-view="{{view}}"
    {{/if}}

    {{#if direction}}
        data-direction="{{direction}}"
    {{/if}}
>{{{content}}}</a>